.background {
  position: fixed;
  z-index: 200;
  top: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(191, 210, 183);
  opacity: 0.5;
}

form {
  font-size: 1.5rem;
  width: 300px;
  height: 200px;
  background: rgb(254, 248, 208);
  margin-left: 14%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 300;
  border-radius: 10px;
  box-shadow: 1px 2px 5px 1px rgb(3, 112, 3);
  /* &: hover{} */
}

form > input {
  /* padding-top: 20px; */
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0.5rem;
  font-size: 1rem;
}
form > button {
  padding: 4px 8px;
  background: rgb(101, 200, 30);
  border-radius: 5px;
}
